@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./Utils/variables";
*
{
    font-family: "roboto", "sans-serif";
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
}
a 
{
    color: inherit;
    text-decoration: inherit;
}
.Loader
{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation-name: Loader;
    animation-delay: 2s;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes Loader {
        100% {
            opacity: 0;
            z-index: -10;
        }
    }
    .Loader__Container
    {
        display: flex;
        width: 5rem;
        justify-content: space-between;
        .Loader__item {
            height: 1rem;
            width: 1rem;
            border-radius: 1rem;
            animation-name: jump;
            animation-duration: 1000ms;
            animation-fill-mode: backwards;
            animation-iteration-count: 3;
            transition: all ease-in;
        }
        @keyframes jump {
            0% {
                transform: translateY(0);
            }
            10%{
                transform: translateY(0.5rem);
            }
            20%{
                transform: translateY(1rem);
            }
            30%{
                transform: translateY(0.5rem);
            }
            40%{
                transform: translateY(0rem);
            }
            50%{
                transform: translateY(-0.5rem);
            }
            60%{
                transform: translateY(-1rem);
            }
            70%{
                transform: translateY(-0.5rem);
            }
            80%{
                transform: translateY(0rem);
            }
            90%{
                transform: translateY(0rem);
            }
            100%{
                transform: translateY(0rem);
            }
            
        }
        .Loader__item--1 {
            background: linear-gradient($secondary-color,$primary-color);
        }
        .Loader__item--2 {
            background: linear-gradient($secondary-color,$primary-color);
            animation-delay: 0.1s;
        }
        .Loader__item--3 {
            background: linear-gradient($secondary-color,$primary-color);
            animation-delay: 0.2s;
        }
    }
}

/* HEADER */

header img
{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 32px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.location
{
    display: flex;
    justify-content: center;
    background-color: rgb(234,234,234);
    box-shadow: inset 0 2px 4px -2px grey;
    font-size: 18px;
    margin-right: -5px;
    margin-left: -5px;
    align-items: center;
    margin-bottom: 0;
    i
    {
    width: 20px;
    margin-right:10px;
    }
}

/* HEAD */ 

.head
{
    display: flex;
    flex-direction: column;
    background-color: rgb(246,246,246);
    padding-top: 40px;
    padding-bottom: 60px;
    h2
    {
        display: flex;
        font-size: 27px;
        margin: 0;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    p
    {
        display: flex;
        font-size: 20px;
        margin: 0;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }
    button 
    {
        margin-top: 50px;
        width: 230px;
        margin: auto;
        border-radius: 27px ;
        border: 0;
        height: 54px;
        box-shadow: 0px 0px 16px #0000002e;
        padding: 12px;
        font-size: 17px;
        background: linear-gradient($secondary-color,$primary-color);
        color: white;
    }
    button:hover
    {
        cursor: pointer;
        transform: scale(1.01);
    }
}

/* FONCTIONNEMENT */

.Fonctionnement
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
    h2
    {
        font-size: 27px;
        margin: auto;
        width: 90%;
        margin-bottom: 10px;
        margin-top: 40px;
    }
}
.stage
{
    display: flex;
    flex-direction: row;
    background-color: rgb(246,246,246);
    margin: auto;
    width: 90%;
    padding: 6px;
    border-radius: 15px;
    box-shadow: 0px 0px 16px #0000002e;
    align-items: center;
    font-size: 18px;
    gap: 25px;
    .number 
    {
        color: white;
        border-radius: 50%;
        background-color: $primary-color;
        position: relative;
        right: 20px;
        padding: 3px 8px;
        font-size: 15px;
    }
    i 
    {
        justify-content: center;
        color: grey;
        margin-left: -5px;
        width: 18px;
        font-size: 20px;
    }
}
.stage:hover
    {
        background-color: rgb(245,237,255);
        cursor: pointer;
        i
        {
            color: $primary-color;
        }
        transition: all 0.5s ease-in-out;
    }

/* RESTAURANTS */

.Restaurants
{
    background-color: rgb(246,246,246) ;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    h2
    {
        font-size: 27px;
        margin: auto;
        width: 90%;
        padding-top: 40px;
    }
}
.card
{
    background-color: white;
    width: 90%;
    margin: auto;
    height: 270px;
    position: relative;
    box-shadow: 0px 0px 16px #0000002e;
    border-radius: 1rem;
    img
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    h3 
    {
        margin:0;
        padding: 10px 0 5px 10px;
        font-size: 20px;
    }
    p
    {
        margin: 0;
        padding: 0 0 10px 10px;
    }
    .favorite
    {
        margin-left: auto;
        padding: 20px;
        font-size: 30px;
        position: relative;
        .fas
        {
            opacity: 0;
            background-image: white;
            transition: all 0.5s ease-in;
            background-image: -webkit-linear-gradient(45deg, $secondary-color, $primary-color 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            right: 1rem;
        }
        .far
        {
            position: absolute;
            right: 1rem;
            transition: all 0.5s ease-in;
        }
    }
    .favorite:hover
    {
        .fas
        {
            opacity: 1;
            background-image: -webkit-linear-gradient(45deg, $secondary-color, $primary-color 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .far
        {
            opacity: 0;
            margin-left: auto;
        }
            
    }
    .New
    {   
        background-color: #99e2d0;
        color: #1b6150;
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        margin-top: 1rem;
        right: 1rem;
    }
}
.card:hover
{  
    transform: scale(1.01);
    cursor: pointer;
}
.card-content
{
    display: flex;
}

/* FOOTER */

footer 
{
    background-color: rgb(53,53,53);
    color : white;
    padding-bottom: 25px;
    i
    {
        width: 25px;
    }
}
.logo
{
    font-family: Shrikhand;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.foot
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-left: 0;
    gap: 15px;
}

/* MENUS */

.Menus
{
    header
    {
        display: flex;
        align-items: center;
        justify-content: row;
        margin-top: 1rem;
        margin-bottom: 10px;
        i 
        {
            margin-left: 1rem;
            font-size: 30px;
        }
        h1 
        {
            font-family: Shrikhand;
            font-weight: 800;
            margin: auto;
            font-size: 33px;
        }
    }
    main 
    {
        .MenuWrapper
        {
            background-color: rgb(246, 246, 246);
            border-radius: 4rem 4rem 0 0;
            position: relative;
            margin-top: -4rem;
            padding-bottom: 4rem;
        }
        .MenuRestaurantImage
        {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }
        .MenuHeader
        {
            display: flex;
            align-items: center;
            margin: auto;
            width: 90%;
            h2 
            {
                font-family: Shrikhand;
                font-size: 27px;
                margin-top: 50px;
            }
            .favorite 
            {
                margin-left: auto;
                margin-right: 2rem;
                font-size: 30px;
            }
            .fas
            {
                opacity: 0;
                transition: all 0.5s ease-out;
                position: absolute;
                right: 3rem;
                background-image: -webkit-linear-gradient(45deg, $secondary-color, $primary-color 80%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .far
            {
                opacity: 1;
                transition: all 0.5s ease-out;
                position: absolute;
                right: 3rem;
            }
            .favorite:hover
            {
                .fas
                {
                    opacity: 1;
                    background-image: -webkit-linear-gradient(45deg, $secondary-color, $primary-color 80%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
                .far
                {
                    opacity: 0;
                    margin-left: auto;
                }
                
            }

        }
        .allMenus
        {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            h2 
            {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }
            .bar
            {
            width: 4rem;
            height: 0.3rem;
            background-color: #99e2d0;
            margin-top: 0;
            margin-bottom: 1.5rem;
            }
            .anim1
            {
                animation-name: appear;
                animation-duration: 1000ms;
                animation-fill-mode: backwards;
              }
              @keyframes appear {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              .anim1
              {
                animation-delay: 50ms;
              }
            .anim2
            {
                animation-name: appear;
                animation-duration: 1000ms;
                animation-fill-mode: backwards;
              }
              @keyframes appear {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              .anim2
              {
                animation-delay: 300ms;
              }
            .anim3
            {
                animation-name: appear;
                animation-duration: 1000ms;
                animation-fill-mode: backwards;
              }
              @keyframes appear {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              .anim3
              {
                animation-delay: 500ms;
              }
            .anim4
            {
                animation-name: appear;
                animation-duration: 1000ms;
                animation-fill-mode: backwards;
            }
            @keyframes appear {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
            }
            .anim4
            {
                animation-delay: 700ms;
            }
            .MenuItem
            {
                display: flex;
                background-color: white;
                border-radius: 1rem;
                padding: 0 0px 0 15px;
                font-size: 20px;
                height: 80px;
                margin-bottom: 20px;
                box-shadow: 0px 0px 16px #0000002e;
                justify-content: space-between;
                overflow: hidden;
                .MenuInfo
                {
                    display: flex;
                    justify-content: space-between;
                    max-width: 100%;
                    flex: 1;
                    overflow: hidden;
                    .menuTitle
                    {
                        font-size: 17px;
                    }
                    .menuPrice
                    {
                        display: flex;
                        font-weight: 700;
                        padding-left: .5rem;
                        padding-right: .5rem;
                        align-items: flex-end;
                        margin: 0;
                        margin-bottom: 12px;
                    }
                    .menuText
                    {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        white-space: nowrap;
                        padding: 10px 0 10px 0px;
                        h3
                        {
                            flex-shrink: 1;
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 20px;
                            margin:0;
                            margin-bottom: 10px;
                        }
                        p
                        {
                            margin: 0;
                            flex-shrink: 1;
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 19px;
                        }
                    }
                }
                .end
                {
                    display: flex;
                }
                .menuSelection 
                {
                    display: flex;
                    background: #99e2d0;
                    height: auto;
                    width: 0px;
                    border-radius: 0 1rem 1rem 0;
                    align-items: center;
                    transition: transform 1s;
                    justify-content: center;
                    color: white;
                    font-size: 30px;
                    transition: all 0.5s ease-in-out;
                    transform-origin: 100% 0%;
                    overflow: hidden;
                    opacity: 0;
                }
            }
            .MenuItem:hover
            {
                display: flex;
                cursor: pointer;
            
                .menuSelection 
                {
                    transform: translateX(0px);
                    opacity: 1;
                    width: 100px;
                    
                    .icon-check
                    {
                        justify-content: center;
                        align-items: center;
                        transform: rotate(-1turn);
                        transition: transform 500ms ease-in-out;
                    }
                }
            }
        }
    button
    {
        display: flex;
        width: 250px;
        border-radius: 35px ;
        border: 0;
        height: 70px;
        box-shadow: 0px 0px 16px #0000002e;
        padding: 12px;
        font-size: 22px;
        background: linear-gradient($secondary-color,$primary-color);
        color: white;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 3rem;
    }
    button:hover
    {
        transform: scale(1.01);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }
    }
}