@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "roboto", "sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* HEADER */
header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 32px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 4px -2px grey;
          box-shadow: inset 0 2px 4px -2px grey;
  font-size: 18px;
  margin-right: -5px;
  margin-left: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.location i {
  width: 20px;
  margin-right: 10px;
}

/* HEAD */
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 60px;
}

.head h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 27px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.head p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.head button {
  margin-top: 50px;
  width: 230px;
  margin: auto;
  border-radius: 27px;
  border: 0;
  height: 54px;
  -webkit-box-shadow: 0px 0px 16px #0000002e;
          box-shadow: 0px 0px 16px #0000002e;
  padding: 12px;
  font-size: 17px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
}

.head button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/* FONCTIONNEMENT */
.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.Fonctionnement h2 {
  font-size: 27px;
  margin: auto;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 40px;
}

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f6f6f6;
  margin: auto;
  width: 90%;
  padding: 6px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 16px #0000002e;
          box-shadow: 0px 0px 16px #0000002e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  gap: 25px;
}

.stage .number {
  color: white;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 20px;
  padding: 3px 8px;
  font-size: 15px;
}

.stage i {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
  margin-left: -5px;
  width: 18px;
  font-size: 20px;
}

.stage:hover {
  background-color: #f5edff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.stage:hover i {
  color: #9356DC;
}

/* RESTAURANTS */
.Restaurants {
  background-color: #f6f6f6;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.Restaurants h2 {
  font-size: 27px;
  margin: auto;
  width: 90%;
  padding-top: 40px;
}

.card {
  background-color: white;
  width: 90%;
  margin: auto;
  height: 270px;
  position: relative;
  -webkit-box-shadow: 0px 0px 16px #0000002e;
          box-shadow: 0px 0px 16px #0000002e;
  border-radius: 1rem;
}

.card img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card h3 {
  margin: 0;
  padding: 10px 0 5px 10px;
  font-size: 20px;
}

.card p {
  margin: 0;
  padding: 0 0 10px 10px;
}

.card .favorite {
  margin-left: auto;
  padding: 20px;
  font-size: 30px;
  position: relative;
}

.card .favorite .fas {
  opacity: 0;
  background-image: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-image: -webkit-linear-gradient(45deg, #FF79DA, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 1rem;
}

.card .favorite .far {
  position: absolute;
  right: 1rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.card .favorite:hover .fas {
  opacity: 1;
  background-image: -webkit-linear-gradient(45deg, #FF79DA, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .favorite:hover .far {
  opacity: 0;
  margin-left: auto;
}

.card .New {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 1rem;
  right: 1rem;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* FOOTER */
footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
}

footer i {
  width: 25px;
}

.logo {
  font-family: Shrikhand;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 10px;
  padding-left: 0;
  gap: 15px;
}

/* MENUS */
.Menus header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.Menus header i {
  margin-left: 1rem;
  font-size: 30px;
}

.Menus header h1 {
  font-family: Shrikhand;
  font-weight: 800;
  margin: auto;
  font-size: 33px;
}

.Menus main .MenuWrapper {
  background-color: #f6f6f6;
  border-radius: 4rem 4rem 0 0;
  position: relative;
  margin-top: -4rem;
  padding-bottom: 4rem;
}

.Menus main .MenuRestaurantImage {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Menus main .MenuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 90%;
}

.Menus main .MenuHeader h2 {
  font-family: Shrikhand;
  font-size: 27px;
  margin-top: 50px;
}

.Menus main .MenuHeader .favorite {
  margin-left: auto;
  margin-right: 2rem;
  font-size: 30px;
}

.Menus main .MenuHeader .fas {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  right: 3rem;
  background-image: -webkit-linear-gradient(45deg, #FF79DA, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Menus main .MenuHeader .far {
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  right: 3rem;
}

.Menus main .MenuHeader .favorite:hover .fas {
  opacity: 1;
  background-image: -webkit-linear-gradient(45deg, #FF79DA, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Menus main .MenuHeader .favorite:hover .far {
  opacity: 0;
  margin-left: auto;
}

.Menus main .allMenus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
}

.Menus main .allMenus h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.Menus main .allMenus .bar {
  width: 4rem;
  height: 0.3rem;
  background-color: #99e2d0;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.Menus main .allMenus .anim1 {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Menus main .allMenus .anim1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.Menus main .allMenus .anim2 {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Menus main .allMenus .anim2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.Menus main .allMenus .anim3 {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Menus main .allMenus .anim3 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.Menus main .allMenus .anim4 {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Menus main .allMenus .anim4 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.Menus main .allMenus .MenuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  padding: 0 0px 0 15px;
  font-size: 20px;
  height: 80px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 16px #0000002e;
          box-shadow: 0px 0px 16px #0000002e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.Menus main .allMenus .MenuItem .MenuInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.Menus main .allMenus .MenuItem .MenuInfo .menuTitle {
  font-size: 17px;
}

.Menus main .allMenus .MenuItem .MenuInfo .menuPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  padding-left: .5rem;
  padding-right: .5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  margin-bottom: 12px;
}

.Menus main .allMenus .MenuItem .MenuInfo .menuText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 10px 0px;
}

.Menus main .allMenus .MenuItem .MenuInfo .menuText h3 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.Menus main .allMenus .MenuItem .MenuInfo .menuText p {
  margin: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 19px;
}

.Menus main .allMenus .MenuItem .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Menus main .allMenus .MenuItem .menuSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #99e2d0;
  height: auto;
  width: 0px;
  border-radius: 0 1rem 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  overflow: hidden;
  opacity: 0;
}

.Menus main .allMenus .MenuItem:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.Menus main .allMenus .MenuItem:hover .menuSelection {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  width: 100px;
}

.Menus main .allMenus .MenuItem:hover .menuSelection .icon-check {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.Menus main button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  border-radius: 35px;
  border: 0;
  height: 70px;
  -webkit-box-shadow: 0px 0px 16px #0000002e;
          box-shadow: 0px 0px 16px #0000002e;
  padding: 12px;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.Menus main button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/*# sourceMappingURL=style.css.map */